.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #ffffff;
	
	-moz-border-radius-bottomleft:2px;
	-webkit-border-bottom-left-radius:2px;
	border-bottom-left-radius:2px;
	
	-moz-border-radius-bottomright:2px;
	-webkit-border-bottom-right-radius:2px;
	border-bottom-right-radius:2px;
	
	-moz-border-radius-topright:2px;
	-webkit-border-top-right-radius:2px;
	border-top-right-radius:2px;
	
	-moz-border-radius-topleft:2px;
	-webkit-border-top-left-radius:2px;
	border-top-left-radius:2px;
}

.CSSTableGenerator table{
	border-collapse: collapse;
	border-spacing: 0;
	width:100%;
	margin:0px;
	padding:0px;
	table-layout:fixed;
}

.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:2px;
	-webkit-border-bottom-right-radius:2px;
	border-bottom-right-radius:2px;
}

.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:2px;
	-webkit-border-top-left-radius:2px;
	border-top-left-radius:2px;
}

.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:2px;
	-webkit-border-top-right-radius:2px;
	border-top-right-radius:2px;
}

.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:2px;
	-webkit-border-bottom-left-radius:2px;
	border-bottom-left-radius:2px;
}

.CSSTableGenerator tr:hover td{
	
}

.CSSTableGenerator tr:nth-child(odd){
	background-color:#6699cc;
}
	
.CSSTableGenerator tr:nth-child(even){
	background-color:#92c0ef;
}

.CSSTableGenerator td{
	vertical-align:middle;
	border:1px solid #ffffff;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
	height: 60px;
}

.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}

.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}

.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}

.CSSTableGenerator tr:first-child td{
	background:-o-linear-gradient(bottom, #003366 5%, #003f7f 100%);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #003366), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #003366 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#003366", endColorstr="#003f7f");
	background: -o-linear-gradient(top,#003366,003f7f);

	background-color:#003366;
	border:0px solid #ffffff;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}

.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #003366 5%, #003f7f 100%);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #003366), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #003366 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#003366", endColorstr="#003f7f");
	background: -o-linear-gradient(top,#003366,003f7f);

	background-color:#003366;
}

.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}

.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

.category{
	border:2px solid #bababa;
	border-radius:4px;
	background-color:#f8f8f8;
	padding:2px;
	margin:2px;
}

.categoryTitle{
	text-align: left;
	font-family: 'open sans',arial,sans-serif;
	font-weight: bold;
	font-size: medium;
	margin: 10px;
}

.canvasItem{
	border:1px solid #000e77;
	border-radius:4px;
	background-color:white;
	padding:5px;
	margin-right:25px;
	margin-left:25px;
	margin-top:8px;
	margin-bottom:8px;
	/*box-shadow: 1px 1px 1px #888888;*/
}

.title{
	font-family: 'open sans',arial,sans-serif;
	font-weight: bold;
	font-size: medium;
}

.description{
	font-family: 'open sans',arial,sans-serif;
	font-weight: lighter;
	font-size: small;
}

.author{
	text-align: right;
	font-family: 'open sans',arial,sans-serif;
	font-weight: lighter;
	font-size: small;
}

hr{
	border-color: #000e77;
}

body {
	background-color: #000e77;
}