.category{
	text-align: center;
	background-color: #000e77;
	font-family: 'open sans',arial,sans-serif;
	font-weight: normal;
	font-size: 7vw;
	color: white;
	padding: 15px;
}

.canvasItem{
	border:3px solid #000e77;
	border-radius:15px;
	background-color:white;
	padding: 2vw;
	margin: 3vw;
	box-shadow: 0px 2px 2px #888888;
	cursor: pointer;
	cursor: hand;
}

.title{
	font-family: 'open sans',arial,sans-serif;
	font-size: 6vw;
}

.description{
	font-family: 'open sans',arial,sans-serif;
	font-weight: lighter;
	font-size: 4vw;
}

.author{
	text-align: right;
	font-family: 'open sans',arial,sans-serif;
	font-weight: lighter;
	font-size: 3vw;
}

hr{
	border-color: #000e77;
}

.ui-field-contain .ui-select {
	width: 81%;
	display: inline-block;
}


.ui-btn-text {
	font-size: 6vw;
}

.ui-btn-inner {
	padding: 4vw;
}

input.ui-input-text {
	font-size: 5vw;
}

div.ui-input-text {
	padding: 0 .4em;
	width: 80%;
	margin: 15px auto;
}

#navgroup {
	text-align:center;
}

#navgroup div {
	display:inline-block;
}

#headerGroup {
	text-align:right;
}

#headerGroup .ui-btn-inner {
	border: 0px;
}

#headerGroup .ui-controlgroup {
	margin: 2px;
}