.category{
	text-align: center;
	background-color: #000e77;
	font-family: 'open sans',arial,sans-serif;
	font-weight: normal;
	font-size: 35px;
	color: white;
	padding: 15px;
}

.canvasItem{
	border:3px solid #000e77;
	border-radius:15px;
	background-color:white;
	padding:25px;
	padding-bottom: 10px;
	margin-right:40px;
	margin-left:40px;
	margin-top:40px;
	margin-bottom:40px;
	box-shadow: 0px 2px 2px #888888;
	cursor: pointer;
	cursor: hand;
}

.title{
	font-family: 'open sans',arial,sans-serif;
	font-size: 80px;
}

.description{
	font-family: 'open sans',arial,sans-serif;
	font-weight: lighter;
	font-size: 30px;
}

.author{
	text-align: right;
	font-family: 'open sans',arial,sans-serif;
	font-weight: lighter;
	font-size: 25px;
}

hr{
	border-color: #000e77;
}

.ui-field-contain .ui-select {
	width: 100%;
	display: inline-block;
}

.ui-btn-text {
	font-size: 40px;
}

.ui-btn-inner {
	padding: 50px;
}

input.ui-input-text {
	font-size: 40px;
}

#navgroup {
	text-align:center;
}

#navgroup div {
	display:inline-block;
}

#headerGroup {
	text-align:right;
}

#headerGroup .ui-btn-inner {
	border: 0px;
}

#headerGroup .ui-controlgroup {
	margin: 2px;
}